.full_container {
  height: 94vh;
}
.home_container {
  width: 100%;
}

.showcase {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.showcase video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  object-fit: cover;
}
.title {
  width: 100%;
  height: 100%;
  background-color: #000;
  font-size: 9rem;
  mix-blend-mode: multiply;
  text-align: center;
  font-weight: 600;
}

@media screen and (max-width: 900px) {
  .title {
    width: 100%;
    height: 100%;
    font-size: 4rem;
    padding: 1rem;
  }
}
