.auth-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 94vh;
}
.item {
  padding: 1rem;
}
.auth-img-div {
  margin: 2rem;
}
.form-container,
.form-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-input-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-input-text {
  padding: 0.8rem;
  border-radius: 4px;
  border: none;
  margin: 0.5rem 0;
  box-shadow: var(--light-shadow);
  font-size: 1rem;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
}

.form-button-divs {
  width: 60%;
  margin: 1rem auto;
}

.error-msg {
  margin-top: 0;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  color: var(--text-color);
}

@media screen and (max-width: 760px) {
  .auth-img-div {
    display: none;
  }
  .auth-div {
    grid-template-columns: 1fr;
  }
}
